%div#formular

  %div#formnav
    %p
      = link_to 'recipe', wizard_path(:recipe)
      = link_to 'country_specific_information', wizard_path(:country_specific_information)
      = link_to 'user', wizard_path(:user)
      = link_to 'preview', wizard_path(:show_preview)

    %h3
      = link_to "Fill in with fake data", "#", :onclick => "fill_in_csis(); return false;"

    = form_tag :controller => "country_specific_informations", :action => "create", :method => :post do

      - @csis.each do |csi|
        = handle_error_messages(csi).html_safe if csi.errors.any?

        %p
          = csi.question
          = hidden_field_tag "country_specific_informations[][question_reference_id]", csi.question_reference_id

        %p
          = label_tag "country_specific_informations[][answer]", "Antwort"
          = text_area_tag "country_specific_informations[][answer]"
       
      %p
        = submit_tag "Save"

    = button_to "Reset", delete_cookie_upload_index_path, :method => :get, :confirm => "Do you want to upload another recipe?"

    = link_to "Skip this step", next_wizard_path


