//- content_for(:head) do
:javascript
  $(document).ready(function(){
    $("#dynamicContainer").elementOnDemand();
  });

%p
  = link_to 'recipe', wizard_path(:recipe)
  = link_to 'user', wizard_path(:user)
  = link_to 'preview', wizard_path(:show_preview)

=cookies[:recipe].inspect
=cookies[:user].inspect

=@recipe.inspect
%h1 New_recipe
- if @user && @recipe
  %h2 Hallo #{@user.name}, du kannst hier dein bestehendes Rezept "#{@recipe.name}" ändern!
  %h2 Klicke auf Reset um ein neues Rezept hochzuladen!

%h3
  = link_to "Fill in with fake data", "#", :onclick => "fill_in_recipe(); return false;"

- #Begin of formular
= form_for @recipe do |f|
  = handle_error_messages(@recipe).html_safe if @recipe.errors.any?
  %p
    = f.label :name, "Name"
    = f.text_field :name
  %p
    = f.label :portion, "Anzahl Portionen"
    = f.text_field :portion

  %div#dynamicContainer
    %p.dynamicElement
      = text_field_tag "recipe[ingredients_strings][][quantity]", nil, :id => "recipe_ingredients_strings_quantity"
      = text_field_tag "recipe[ingredients_strings][][ingredient]", nil, :id => "recipe_ingredients_strings_ingredient"

  %div#rechts
    %p
      = f.label :preparation, "Zubereitung"
      = f.text_area :preparation
    %p
      = f.label :duration, "Zubereitungszeit in Minuten"
      = f.text_field :duration

  %p
    = f.fields_for :images do |image|
      = image.label :attachment, "Bild Upload"
      = image.file_field :attachment

  %p
    = f.submit "Save"
- # End of formular

= button_to "Reset", delete_cookie_upload_index_path, :method => :get, :confirm => "Do you want to upload another recipe?"

= link_to "Skip this step", next_wizard_path


