//- content_for(:head) do
:javascript
  $(document).ready(function(){

    $("#ingredients").elementOnDemand();

    $("#new_recipe div div").click(function(){
      $("#new_recipe div div").removeClass("active");
      $(this).addClass("active");
    });
  });

=#cookies[:recipe].inspect
=#cookies[:user].inspect

=#@recipe.inspect
/%h1 New_recipe
- if @user && @recipe
  %h2 Hallo #{@user.name}, du kannst hier dein bestehendes Rezept "#{@recipe.name}" ändern!
  %h2 Klicke auf Reset um ein neues Rezept hochzuladen!

/ %h3
/   = link_to "Fill in with fake data", "#", :onclick => "fill_in_recipe(); return false;"

%div#formular

  %div#formnav
    %p
      = link_to 'recipe', wizard_path(:recipe), class:"current"
      / to do: Links zu csi
      = link_to 'csi', wizard_path(:csi) 
      = link_to 'user', wizard_path(:user)
      = link_to 'preview', wizard_path(:show_preview)


  - #Begin of formular

  = form_for @recipe do |f|
    = handle_error_messages(@recipe).html_safe if @recipe.errors.any?
    %div#left
      %div#information
        %h1
          Information

        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

        %h3
          = link_to "Fill in with fake data", "#", :onclick => "fill_in_recipe(); return false;"

        %p
          = f.label :name, "Name"
          = f.text_field :name
        %p
          = f.label :portion, "Anzahl Portionen"
          = f.text_field :portion
        %p
          = f.label :duration, "Zubereitungszeit in Minuten"
          = f.text_field :duration

      %div#ingredients
        %h1 
          Ingredients

        %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
        
        %p.dynamicElement
          = text_field_tag "recipe[ingredients_strings][][quantity]", nil, :id => "recipe_ingredients_strings_quantity"
          = text_field_tag "recipe[ingredients_strings][][ingredient]", nil, :id => "recipe_ingredients_strings_ingredient"

    %div#right
      %div#preparation
        %h1
          Preparation
        %p
          = f.label :preparation, "Zubereitung"
          = f.text_area :preparation

        
        = f.fields_for :images do |image|
          = image.label :attachment, "Bild Upload"
          = image.file_field :attachment
          
      .hidden
        = f.hidden_field :longitude
        = f.hidden_field :latitude

      
      %div#buttons
        = f.submit "Save", :id => "save_recipe_button"

        = button_to "Reset", delete_cookie_upload_index_path, :method => :get, :confirm => "Do you want to upload another recipe?"

        = link_to "Skip this step", next_wizard_path


