
%div#formular
  %div#formnav
    %p
      = link_to 'recipe', wizard_path(:recipe)
      / to do: Links zu csi
      = link_to 'csi', wizard_path(:csi) 
      = link_to 'user', wizard_path(:user)
      = link_to 'preview', wizard_path(:show_preview), class:"current"

  %div#preview
    %h1 Preview

    - if @user
      %h3 User:
      %p
        Name:
        = @user.name
      %p
        Gender:
        = @user.gender
      %p
        Age:
        = @user.age
      %p
        Email:
        = @user.email
      %p
        Heard_from:
        = @user.heard_from

    - if @recipe    
      %h3 Recipe:
      %p
        Name:
        = @recipe.name
      %p
        Portion:
        = @recipe.portion
      %p
        Preparation:
        = @recipe.preparation
      %p
        Duration:
        = @recipe.duration
      %p
        Slug:
        = @recipe.slug
       
      %p
        Ingredients_with_quantities:
      %ul
        - @recipe.ingredients_with_quantities.each do |i|
          %li
            = "#{i.quantity} #{i.name}"

