- csi_set = session[:csi_set_id].present? ? CsiSet.find(session[:csi_set_id]) : CsiSet.new(:country_specific_informations => CsiSet.empty_set)

#csi_information
  %h1 
    Give the world a pure impression of your
    %span country,
    your
    %span lifestyle
    and
    %span yourself

    %hr

  %p
    We would love to find out more about your country and your traditions. Give us an impression by answering some of the following questions. It´s up to you how many and which questions you choose.

= form_for csi_set, :url => country_specific_informations_path do |f|
  %ul#csi_slider
    = f.fields_for :country_specific_informations do |csi|
      %li  
        = csi.hidden_field :id unless csi.object.new_record?
        = csi.hidden_field :question_reference_id
        = csi.label :answer, csi.object.question
        = csi.text_area :answer

  = button_to "Save this step", '#', :class => "next_tab"
