:javascript
  $(document).ready(function(){
    prepare_csi_slider()
    
    $("form", "#country_specific_information_tab").dirty_form({dynamic:true}).dirty(function(event, event_data){
      var fields = $(".changed", "#country_specific_information_tab");
      var valid = false;

      $("textarea", "#csi_slider").each(function(){
        if($(this).val() != " " && $(this).val().length > 0){
          valid = true;
        }
      });

      if(valid)
        $("#aboutyourcountry").parent().addClass("form_valid")
      else
        $("#aboutyourcountry").parent().removeClass("form_valid")
    });
  });

#csi_information
  %h1 
    Give the world a pure impression of your
    %span country,
    your
    %span lifestyle
    and
    %span yourself

  %hr

  %p
    Jacob would love to find out more about your country and your traditions. Give him an impression by answering some of the following questions. 

  %p.wichtig
    It´s up to you how many and which questions you choose!

= form_for @csi_set, :url => country_specific_informations_path do |f|
  %ul#csi_slider
    = f.fields_for :country_specific_informations do |csi|
      %li  
        = csi.hidden_field :id unless csi.object.new_record?
        = csi.hidden_field :question_reference_id
        = csi.label :answer, csi.object.question
        = csi.text_area :answer

  = link_to "", '#!/user_tab', class:"next_tab"