%h3
  = link_to "Fill in with fake data", "#", :onclick => "fill_in_csis(); return false;"

= form_for csis do |f|
  -# @csis.each do |csi|
    =# handle_error_messages(csi).html_safe if csi.errors.any?
    
  - csi_set = CountrySpecificInformation.new_set
  - csi_set.each do |csi|
    %p
      = csi.question
      = f.hidden_field :question_reference_id, :value => csi.question_reference_id

    %p
      = f.label :answer, "Antwort"
      = f.text_area :answer