- if @csi_set.user
  %p
    Author:
    %em
      = @csi_set.user.formatted_user_info


%ul
  - answered_csis = @csi_set.country_specific_informations.where(:answer.ne => "").entries
  - answered_csis.each_with_index do |csi, index|
    %li
      %p.question
        = "Question #{index + 1}"
      %h3
        = csi.question
      %p
        = csi.answer

%div#answered
  = image_tag 'herz.png', class:"herz"
  %p.fragen
    You’ve answered 
    %br
    = "#{answered_csis.count} of #{Question.count} questions"

  %p.tell_more
    %a
      = link_to 'Do you want to tell us more about your country?' 