:javascript
  $(document).ready(function(){
    initInfobox();
    initClusterer();
    $("#toggle_sidebar").click(function(){switchSidebar();});
    
    Gmaps.map.callback = function() {
       for (var i = 0; i < Gmaps.map.markers.length; ++i) {
        var marker = Gmaps.map.markers[i].serviceObject
        marker.description = Gmaps.map.markers[i].description;
        //console.debug(Gmaps.map.markers[i]);
        google.maps.event.addListener(marker, 'click', function(i){
          showRecipeSidebar(this);
        });
      }
    }   
  });

  $(window).load(function(){
    $('#map').css('height', ($(document).height()-50+"px"));
    $('#right-haupt').css('min-height', ($(document).height()+"px"));
    $(".right-haupt").data("status", "open");
  });

#start

.wrapper-haupt

  .left-haupt
    = #@location
    = #gmaps4rails(@location)
    = gmaps("markers" => { "data" => @location, "options" => { "do_clustering"=>true, "randomize"=>true, "max_random_distance"=>10, "custom_infowindow_class" => "yellow" } })

  .right-haupt
    .uebergang-seitenleiste
      .seitenleiste
        = image_tag 'Logo-haupt.png', id:"Logo_hauptstart"

        %p
          This project wants to 
          %em 
            give a pure impression of the different eating habits 
          and cultures all over the world. 
          %em 
            The aim is to collect international recipes. 

        = image_tag "beta.png", :id=>"toggle_sidebar", :style => "margin-left:-35px"
        #jacob-who
          = image_tag 'Bildzeichen_Screen.png', id:"Bildzeichen_Screen-haupt"
                
          %h3
            = link_to 'Who is Jacob?', "#story_1", class:"who"
          %p
            = link_to 'Click to get introduced to the story.', "#story_1"

        %hr

        .postedrecipe
          = image_tag 'google_marker.png', class:"marker-info"
          %h4
            Posted recipe
          %p
            These markers point out that there is a recipe to look up bla bla bla bla lorem ipsum das ist ein Text.

        .postedcsi
          = image_tag 'google_marker.png', class:"marker-info"
          %h4
            Information about culinary habits
          %p
            These markers point out that there is a recipe to look up bla bla bla bla lorem ipsum das ist ein Text.

        %p.gotoform
          = link_to 'You want to share your favourite recipe with Jacob? Click here!', "#"
