:javascript
  $(document).ready(function(){
    $("#ingredients").elementOnDemand();
    $("#new_recipe input[placeholder], textarea[placeholder]").placeholder();
  });

= form_for recipe do |f|
  #left
    #information
      %h1
        Information

      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

      %p
        = f.label :name, "Name"
        = f.text_field :name
      %p
        = f.label :portion, "Anzahl Portionen"
        = f.text_field :portion
      %p
        = f.label :duration, "Zubereitungszeit in Minuten"
        = f.text_field :duration

    #ingredients
      %h1 
        Ingredients

      %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
      
      - if recipe.ingredients_strings
        - recipe.ingredients_strings.each do |ingredient_string|
          - next if ingredient_string[:quantity] == "" && ingredient_string[:ingredient] == ""
          %p.dynamicElement
            = text_field_tag "recipe[ingredients_strings][][quantity]", nil, :id => "recipe_ingredients_strings_quantity", :value => ingredient_string[:quantity]
            = text_field_tag "recipe[ingredients_strings][][ingredient]", nil, :id => "recipe_ingredients_strings_ingredient", :value => ingredient_string[:ingredient]
      - else
        %p.dynamicElement
          = text_field_tag "recipe[ingredients_strings][][quantity]", nil, :id => "recipe_ingredients_strings_quantity_1", :placeholder => "e.g.: 2 big"
          = text_field_tag "recipe[ingredients_strings][][ingredient]", nil, :id => "recipe_ingredients_strings_ingredient_1", :value => "Eggs"
        %p.dynamicElement
          = text_field_tag "recipe[ingredients_strings][][quantity]", nil, :id => "recipe_ingredients_strings_quantity_2", :placeholder => "e.g.: 1 red"
          = text_field_tag "recipe[ingredients_strings][][ingredient]", nil, :id => "recipe_ingredients_strings_ingredient_2", :value => "Onion"
        %p.dynamicElement
          = text_field_tag "recipe[ingredients_strings][][quantity]", nil, :id => "recipe_ingredients_strings_quantity_3", :placeholder => "e.g.: 3"
          = text_field_tag "recipe[ingredients_strings][][ingredient]", nil, :id => "recipe_ingredients_strings_ingredient_3", :value => "Potatoes"
        %p.dynamicElement
          = text_field_tag "recipe[ingredients_strings][][quantity]", nil, :id => "recipe_ingredients_strings_quantity_4", :placeholder => "enter the quantity"
          = text_field_tag "recipe[ingredients_strings][][ingredient]", nil, :id => "recipe_ingredients_strings_ingredient_4", :placeholder => "additional ingredient"

  #right
    #preparation
      %h1
        Preparation
      %p
        = f.label :preparation, "Zubereitung"
        = f.text_area :preparation