:javascript
  $(document).ready(function(){
    $("#ingredients").elementOnDemand();
    $("#new_recipe input[placeholder], textarea[placeholder]").placeholder();
  });

= form_for recipe do |f|
  #left
    #information
      %h1
        Information

      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

      %p
        = f.label :name, "Name"
        = f.text_field :name
      %p
        = f.label :portion, "Anzahl Portionen"
        = f.text_field :portion
      %p
        = f.label :duration, "Zubereitungszeit in Minuten"
        = f.text_field :duration

    #ingredients
      %h1 
        Ingredients

      %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

      - if recipe.valid_ingredients_strings
        - prefill_ingredient_fields_with recipe.valid_ingredients_strings
      - else
        - default_ingredients = Array[Hash[:ingredient => "Eggs", :quantity => "e.g.: 2 big"], Hash[:ingredient => "Onion", :quantity => "e.g.: 1 red"], Hash[:ingredient => "Potatoes", :quantity => "e.g.: 3"], Hash[:ingredient => "additional ingredient", :quantity => "enter the quantity"]]
        = render_default_ingredient_fields_with(default_ingredients).html_safe


  #right
    #preparation
      %h1
        Preparation
      %p
        = f.label :preparation, "Zubereitung"
        = f.text_area :preparation