//- content_for(:head) do
:javascript
  $(document).ready(function(){
    getGeoLocation();
  });
  

%h1 New_recipe

= form_for @recipe, :url => { :action => "create" } do |f|
  %p
    = f.label :name, "Name"
    = f.text_field :name
  %p
    = f.label :portion, "Anzahl Portionen"
    = f.text_field :portion
  %p
    = f.label :preparation, "Zubereitung"
    = f.text_area :preparation
  %p
    = f.label :duration, "Zubereitungszeit in Minuten"
    = f.text_field :duration
  %p
    = f.label :country, "Land"
    = f.text_field :country
  %p
    = f.label :city, "Stadt"
    = f.text_field :city
  %p
    = f.submit "Speichern"