- recipe = session[:recipe_id].present? ? Recipe.find(session[:recipe_id]) : Recipe.new
- (3 - recipe.steps.count).times { recipe.steps.build }

:javascript
  $(document).ready(function(){
    $(":input[placeholder]", "#recipe_tab").placeholder();
    $("form", "#recipe_tab").stepHighlighting().dirtyValidation();
    $("#ingredients").elementOnDemand({
      onAddElement: function(context){
        $(this).find('.zutat').autocomplete({
          source: '/ingredients/names',
          minLength: 2
        });

        $(":input", this).addClass("changed");
      },
      onRemoveElement: function(context){
        $(":input", "#ingredients .dynamicElement:first").addClass("changed");
      }
    });

    $('#wizard #recipe_tab .zutat').autocomplete({
      source: '/ingredients/names',
      minLength: 2
    });

    var elementTemplate;
    elementTemplate = $('#recipe_tab .steps .step:last').clone(true, true);
    elementTemplate.children('.image_preview').remove();
    elementTemplate.children('input[type="hidden"]').remove();
    elementTemplate.children('.upload_wrapper').css({
      display: 'block'
    });
    elementTemplate = $('<div>').append(elementTemplate).html();
    $('#recipe_tab .steps').elementOnDemand({
      element: elementTemplate,
      onAddElement: function(context) {
        var count;
        count = $(this).siblings('.step').length + 1;
        $(this).find('label[for=*"description"] span').html(count);
        $(":input", this).addClass("changed");
        return prepare_recipe_step_upload($(this).find('input[type="file"]:first'));
      },
      onRemoveElement: function(context){
        $(":input", ".steps .dynamicElement:first").addClass("changed");
      }
    });

    $('#recipe_portions').rating({
      startValue: null,
      showCancel: false
    });

    var plusRating = $('#recipe_tab .ui-rating .ui-rating-star:last');
    $(plusRating).qtip({
      content: "more than six",
      position: {
        target: plusRating,
        my: 'bottom left',
        at: 'center center',
        adjust: {
          x: -12,
          y: -8
        }
      }
    });

    prepare_recipe_uploads();
    reinitialize_tooltips($("#recipe_tab"));
  });


= form_for recipe do |f|
  = handle_error_messages(recipe).html_safe if recipe.errors.any?
  #left
    #information.part-1
      %h1
        %strong 1 
        What’s really 
        %span going on 
        here

      %hr

      %p
        Here is where you enter the name of your recipe.
        By the way: All the entries on this form are not necessarily your final recipe. You forgot salt? No problem! You can adapt every step before you finally share your post on the preview page. 

      #title
        = f.label :name, "Title", id:"titel"
        = f.text_field :name, "data-required" => true, size:"40", placeholder:"tell us the name of your recipe", "data-type" => "text"
      #portions
        = f.label :portions, "Portions"
        = f.select :portions, ([nil] << (1..7).to_a).flatten, {}, {"data-required" => "true", "data-error-target" => "#portions .ui-rating"}
      #duration
        = f.label :duration, "Preparation", id:"duration_label"
        = f.text_field :duration, "data-required" => true, "data-type" => "numerical", placeholder:"minutes"

    #ingredients.part-2
      %h1 
        %strong 2 
        Add your tasty 
        %span ingredients 
        here

      %hr

      %p
        Just press the + button to add the ingredients which make your recipe special and worth trying. You don´t have or just don´t like one of our 3 already selected ingredients? Just replace it by another one.  Of course you can split the ingredients in two or three courses by explaining the preparation step by step (3). Everybody loves a dessert.

      - if recipe.errors.any?
        = prefill_ingredient_fields(f, recipe).html_safe
      - else
        = render_default_ingredient_fields(f, recipe).html_safe

  #right
    #preparation.part-3
      %h1
        %strong 3 
        Tell Jacob your 
        %span way of preparation 

      %hr

      %p
        Jacob wants to know how to do it. Maybe you want to give him a step-by-step instruction to make it easier for him to try your recipe at home. 
        Again you can add or delete steps as required. Plus: He loves pictures!

      .steps
        - counter = 0
        = f.fields_for :steps do |step|
          .step.dynamicElement
            = step.label :description, "Step <span>#{counter + 1}</span>".html_safe, class:"step_label"
            - if counter == 0
              = step.text_area :description, "data-required" => true
            - else
              = step.text_area :description
            - counter += 1
            #stepupload
              = step.hidden_field :id unless step.object.new_record?

              .upload_wrapper{:style => "#{ 'display: none;' if step.object.image.present? }"}
                %p 
                = step.file_field :image

              - if step.object.image.present?
                .image_preview
                  = image_tag step.object.image(:small)
                  = link_to "delete", recipes_delete_step_image_path(step.object.id), class:"delete"
  
      #recipe_images
        %h1 
          %strong 4
          Show him your
          %span delicious 
          meal

        %hr
        
        %p
          You filled in the form and can’t wait to see your post on www.jacobjoins.com? There is one last thing: Jacob would love to see a picture of your creation together with your written recipe!

        = file_field_tag "recipe[images_attributes][0][attachment]", :multiple => true
        %ul.file_uploads
          - f.object.images.each do |i|
            %li
              = image_tag i.attachment(:small)
              = link_to "delete", recipes_delete_image_path(i.id), class:"delete"
              

  = link_to "", '#!/form/country_specific_information_tab', class:"next_tab"
