- recipe = session[:recipe_id].present? ? Recipe.find(session[:recipe_id]) : Recipe.new
- (3 - recipe.steps.count).times { recipe.steps.build }

:javascript
  $(document).ready(function(){
    $("#ingredients").elementOnDemand();
    $("#new_recipe").stepHighlighting();
    $("#new_recipe input[placeholder], textarea[placeholder]").placeholder();
  });


= form_for recipe do |f|
  = handle_error_messages(recipe).html_safe if recipe.errors.any?
  #left
    #information.part-1
      %h1
        %strong 1 
        What’s really 
        %span going on 
        here

      %hr

      %p
        Here is where you enter the name of your recipe.
        %br
        By the way: All the entries on this form are not necessarily your final recipe. You forgot salt? No problem! You can adapt every step before you finally share your post on the preview page. 

      #title
        = f.label :name, "Name", id:"titel"
        = f.text_field :name, :class => "required", size:"40", placeholder:'tell us the name of your recipe'
      #portions
        = f.label :portions, "Portions"
        = f.text_field :portions, :class => "required", style:'display: inline;'
      #duration
        = f.label :duration, "Preparation", id:"recipe_duration"
        = f.text_field :duration, class:'required', placeholder:'minutes'

    #ingredients.part-2
      %h1 
        %strong 2 
        Fill in tasty 
        %span ingredients 
        here

      %hr

      %p
        Just press the + button to add the ingredients which make your recipe special and worth trying. You don´t have or just don´t like one of our 3 already selected ingredients? Just replace it by another one.  Of course you can split the ingredients in two or three courses by explaining the preparation step by step (3). Everybody loves a dessert.

      - if recipe.errors.any?
        = prefill_ingredient_fields(f, recipe).html_safe
      - else
        = render_default_ingredient_fields(f, recipe).html_safe

  #right
    #preparation.part-3
      %h1
        %strong 3 
        Tell him how to 
        %span prepare 
        the meal

      %hr

      %p
        Jacob wants to know how to do it. Maybe you want to give us a step-by-step instruction to make it easier for us to try your recipe at home. 
        Again you can add or delete steps as required. Plus: We love pictures!

      .steps
        - counter = 0
        = f.fields_for :steps do |step|
          .step.dynamicElement
            = step.label :description, "Step <span>#{counter + 1}</span>".html_safe, class:"step_label"
            - if counter == 0
              = step.text_area :description, :class => "required"
            - else
              = step.text_area :description
            - counter += 1
            #stepupload
              = step.hidden_field :id unless step.object.new_record?

              .upload_wrapper{:style => "#{ 'display: none;' if step.object.image.present? }"}
                %p Upload Image
                = step.file_field :image

              - if step.object.image.present?
                .image_preview
                  = image_tag step.object.image(:small)
                  = link_to "delete", recipes_delete_step_image_path(step.object.id), :class => "delete"
  
      #recipe_images
        %h1 
          %strong 4
          Show us your
          %span incredible
          meal

        %hr
        
        = file_field_tag "recipe[images_attributes][0][attachment]", :multiple => true
        %ul.file_uploads
          - f.object.images.each do |i|
            %li
              = image_tag i.attachment(:small)
              = i.attachment_file_name
              = link_to "delete", recipes_delete_image_path(i.id), :class => "delete"

    = button_to "Next tab", '#', :class => "next_tab"
