- recipe = Recipe.find(session[:recipe_id]) if session[:recipe_id].present?
- 3.times { recipe.steps.build } if recipe.steps.empty?

:javascript
  $(document).ready(function(){
    $("#ingredients").elementOnDemand();
    $("#new_recipe input[placeholder], textarea[placeholder]").placeholder();
    $("form div div").click(function(){
      $("form div div").removeClass("active");
      $(this).addClass("active");
    });
  });

  
%h3
  = link_to "Fill in with fake data", "#", :onclick => "fill_in_recipe(); return false;"

= form_for recipe do |f|
  = handle_error_messages(recipe).html_safe if recipe.errors.any?
  #left
    #information
      %h1
        %strong 1 
        What’s really 
        %span going on 
        here

      %hr

      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

      #title
        /= f.label :name, "Name"
        = f.text_field :name
      #portions
        = f.label :portion, "Portions"
        = f.text_field :portion
      #duration
        = f.label :duration, "Preparation time"
        = f.text_field :duration

    #ingredients
      %h1 
        %strong 2 
        Fill in tasty 
        %span ingredients 
        here!

      %hr

      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet

      - if recipe.errors.any?
        = prefill_ingredient_fields(f, recipe).html_safe
      - else
        = render_default_ingredient_fields(f, recipe).html_safe

  #right
    #preparation
      %h1
        %strong 3 
        Tell how to 
        %span preparate 
        meal!

      %hr

      .steps
        = f.fields_for :steps do |step|
          .step.dynamicElement
            = step.label :description, "Beschreibung"
            = step.text_area :description
            = step.label :image, "Bild Upload"
            = step.hidden_field :id unless step.object.new_record?

            .upload_wrapper{:style => "#{ 'display: none;' if step.object.image.present? }"}
              %span Upload Image
              = step.file_field :image

            - if step.object.image.present?
              .image_preview
                = image_tag step.object.image(:small)
                = link_to "delete", recipes_delete_step_image_path(step.object.id), :class => "delete"
  
  #recipe_images
    %h1 Images
    = file_field_tag "recipe[images_attributes][0][attachment]", :multiple => true
    %ul.file_uploads
      - f.object.images.each do |i|
        %li
          = image_tag i.attachment(:small)
          = i.attachment_file_name
          = link_to "delete", recipes_delete_image_path(i.id), :class => "delete"
