:javascript
  $(document).ready(function(){

    $('#ingredients_search_form').bind("ajax:success", recipesSearch.formSuccessHandler)
    .bind("ajax:error", recipesSearch.formErrorHandler);

    $('.search #ingredients_search').autocomplete({
      source: '/ingredients/names',
      minLength: 2,
      select: recipesSearch.ingredientsSearchSelectHandler
    });

    $('#search_selection').on("click", "a.search_remove_ingredient", recipesSearch.removeIngredientClickHandler);
  });

.search
  %h1
    Search for some 
    %br
    tasty 
    %span ingredients
  %hr

  = form_tag recipes_search_path, :method => "post", :remote => true, "data-type" => "json", :id => "ingredients_search_form" do
    = text_field_tag 'ingredients[]', nil, id:"ingredients_search"
    #search_hidden
    #ingredients_search_btn
      %p
      = submit_tag "", :name => nil

  #search_selection

  %h1.search_result
    Take a look at all 
    %br 
    the great 
    %span recipes 
  
  %hr.searchhr

  #search_result
    /#wizard-loader
    /  .loader#sidebar_loader
    /    = image_tag 'ajax-loader.gif'

    - if @recipe.present?
      .infobox_recipe
        = link_to @recipe.name, @recipe
      .infobox_author
        = "cooked by"
        = formatted_user_name(@recipe.user) 
        = @recipe.country
      .infobox_duration
        Estimated cooking time:
        = @recipe.duration
        minutes



