- recipe ||= @recipe

= link_to "", "#!/form/recipe_tab", class:"edit_recipe"

%div#img_preview
  = image_tag asset_path("no_image_prev.png"), class:"missing", alt:"missing_image"

%div#prev_recipe_info
  %div#p_prev

%div#prev_ingredients
  %h2 
    = "your ingredients"
  %ul

%div#prev_preparation
  %h2
    = "how to prepare your meal"

  - recipe.steps.each_with_index do |step, index|
    %div.prev_preparatoin_step
      %p
        %em
          = "Step #{index + 1}" 
        %br
        = step.description

  