:javascript
  $(function() {
    $('a.lightbox').lightBox(
      window.lightboxSettingsSteps
    );
  });

  $(document).ready(function(){
    pagerNeeded = $('.recipe_images li').length > 1;
    $('.recipe_images').bxSlider({
     pager: pagerNeeded,
     infiniteLoop: false,
     controls: false,
     mode: 'fade'
    });
    
    var images = $('.recipe_images img');
    var count = 0;
    images.load(function(){
      if(++count == images.length){
        if($('.bx-wrapper .bx-window').height() < 100){
          fixBxSliderHeight($('.bx-wrapper'));
          $(window).resize();
        }
        images.unbind('load');
      }

    });

    newsbar.selectNavigationPoint($('#navi_neu #search'));

    $('.close-recipe').click(closeRecipeHandler);
    $('.right-haupt').css('width', '100%')
  });

  var recipesShowWindowLoadHandler = function(){
    positionVerticalCentered($('.close-recipe.left'), true);
  }

  var recipesShowWindowResizeHandler = function(){
    positionVerticalCentered($('.close-recipe.left'));
  }

  $(window).load(recipesShowWindowLoadHandler);
  $(window).resize(recipesShowWindowResizeHandler);

.map-overlay.parent-or-window-sensitive
  = link_to "close", recipes_search_path(), class:"close-recipe right"
  = link_to "close", recipes_search_path(), class:"close-recipe left"
  .content
    %h1
      = @recipe.name
    %hr
    - if @recipe.images.count > 0
      %ul.recipe_images
        - @recipe.images.each do |image|
          %li
            = image_tag image.attachment.url(:large)
    #recipe_information_content
      
      #recipe_information
        = image_tag 'horizontalenaht_container.png'
        %p
          Cooked by 
          %em
            = "#{@recipe.user.firstname.capitalize} #{@recipe.user.lastname[0].capitalize + '. ' if @recipe.user.lastname.present?}(#{@recipe.user.age})"
            %span
              from
              = @recipe.city + ","
              = @recipe.country  
        %p
          Portions:
          %em
            = formatted_portions(@recipe.portions)
            = @recipe.portions > 1 ? "persons" : "person"
        %p
          Cooking time:
          %em
            = "#{@recipe.duration} minutes"
        = image_tag 'horizontalenaht_container.png'

      #recipe_ingredients_content
        %h2
          Ingredients  
        %table
          - @recipe.ingredients_with_quantities.each do |iwq|
            %tr
              %td
                = iwq.quantity
              %td.declaration
                = iwq.name

    #recipe_steps_klein_wrapper
      %h2
        Preparation
      - @recipe.steps.sort{ |a,b| a.number <=> b.number }.each do |step|
        %div{class: "recipe_steps_klein #{'no-image' unless step.image.present?}"}
          .numbers
            %strong
              = step.number + 1
          .recipe_steps_container
            .bild
              - if step.image.present?
                = link_to image_tag(step.image(:small)), step.image.url(:large), :class=>"lightbox", :title=>step.description 
              - else
                = link_to "", image_path("show_noimage.jpg"), :class => "lightbox", :title => step.description 

            .recipe_steps_klein_beschreibung
              %p
                = step.description
      

