- content_for :map_overlay_content do
  :javascript
    $(document).ready(function(){
      pagerNeeded = $('.recipe_images li').length > 1;
      $('.recipe_images').bxSlider({
       pager: pagerNeeded,
       infiniteLoop: false,
       controls: false,
       mode: 'fade'
      });

      $('.close-recipe').click(closeRecipeHandler);
      $('.right-haupt').css('width', '100%')
    });

    $(window).load(function(){
      if($('.bx-wrapper .bx-window').height() < 20){
        fixBxSliderHeight($('.bx-wrapper'));
        $(window).resize();
      }

      positionVerticalCentered($('.close-recipe.left'), true);
    });

    $(window).resize(function(){
      positionVerticalCentered($('.close-recipe.left'));
    });

  .map-overlay.window-sensitive
    = link_to "close", "", class:"close-recipe right"
    = link_to "close", "", class:"close-recipe left"
    .content
      %h1
        = @recipe.name
      %hr
      %p
        cooked by 
        %em
          = "#{@recipe.user.firstname.capitalize} #{@recipe.user.lastname[0].capitalize + '. ' if @recipe.user.lastname.present?}(#{@recipe.user.age})"
        from
        = @recipe.country  

      - if @recipe.images.count > 0
        %ul.recipe_images
          - @recipe.images.each do |image|
            %li
              = image_tag image.attachment.url(:large)


      #recipe_ingredients_content
        %h1
          Ingredients for
          = formatted_portions(@recipe.portions)
          = @recipe.portions > 1 ? "persons" : "person"
        %table
          - @recipe.ingredients_with_quantities.each do |iwq|
            %tr
              %td
                = iwq.quantity
              %td.declaration
                = iwq.name

      #recipe_steps_klein_wrapper
        %h1
          Preparation
        - @recipe.steps.order_by(:number).each do |step|
          %div{class: "recipe_steps_klein #{'no-image' unless step.image.present?}"}
            .numbers
              %strong
                = step.number + 1
            .recipe_steps_container
              - if step.image.present?
                .bild
                  = image_tag step.image(:small)

              .recipe_steps_klein_beschreibung
                %p
                  = step.description
        

= render :template => "recipes/search"
