- recipe ||= @recipe

- recipe.images.each do |image|
  = image_tag image.attachment(:medium)

%h1
  = recipe.name.blank? ? "TITLE OF YOUR RECIPE" : recipe.name

%p.prev_red
  = "Portions: #{recipe.portions}"

%p
  = "Preparation time: #{recipe.duration}"

- if recipe.user
  %p
    = "Cooked by: #{recipe.user.formatted_user_info}"

%div#prev_ingredients
  %h2 
    = "your ingredients"
  - recipe.ingredients_with_quantities.each do |ingredient|
    %ul
      %li
        = "#{ingredient.quantity} #{ingredient.name}"

%div#prev_preparation
  %h2
    = "how to prepare your meal"

  - recipe.steps.each do |step|
    = image_tag step.image(:medium)
    %p
      = "Step X: #{step.description}"

  