- @recipe.steps.sort! { |a,b| a.number <=> b.number }

= link_to "", "#!/recipe_tab", class:"edit_recipe"

%div#img_preview
  -if @recipe.images.present?
    - @recipe.images.each do |image|
      = image_tag image.attachment(:medium)
  -else
    = link_to image_tag(asset_path("no_image_prev.png"), class:"missing", alt:"missing_image"), "#!/recipe_tab"

%div#prev_recipe_info
  %h1
    = @recipe.name.blank? ? "Unknown title of your recipe" : @recipe.name

  %div#p_prev
    %p
      Portions:
      %em 
        = @recipe.portions.present? ? formatted_portions(@recipe.portions) : "unknown"

    %p
      Preparation time: 
      %em
        = @recipe.duration.present? ? "#{@recipe.duration} min" : "unknown"

    %p
      Cooked by: 
      %em
        = @recipe.user.present? ? @recipe.user.formatted_user_info : "Your name is required."

%div#prev_ingredients
  %h2 
    = "your ingredients"
  - @recipe.ingredients_with_quantities.each do |ingredient|
    %ul
      %li
        %span
          = ingredient.quantity
        %em
          = ingredient.name

%div#prev_preparation
  %h2
    = "how to prepare your meal"

  - @recipe.steps.each_with_index do |step, index|
    %div.prev_preparatoin_step
      %div.image_preparation_show
        - if step.image.present?
          = image_tag step.image(:small)
        - else
          = image_tag asset_path("no_image_prev_steps.png"), class:"missing", alt:"missing_image", :size => "66x66"
      %p
        %em
          = "Step #{index + 1}"
        %br
        = sanitize step.description.gsub(/\n/, '<br/>'), :tags => %w(br)

  