- recipe ||= @recipe

%h1
  = recipe.name.blank? ? "TITLE OF THE RECIPE" : recipe.name

- if recipe.user
  %h2
    = "Author: #{recipe.user.formatted_user_info}"

- recipe.images.each do |image|
  = image_tag image.attachment(:medium)

%p
  = "Portions: #{recipe.portions}"
%p
  = "Preparation time: #{recipe.duration}"

%h2 
  = "INGREDIENTS"
- recipe.ingredients_with_quantities.each do |ingredient|
  %p
    = "#{ingredient.quantity} #{ingredient.name}"

%h2
  = "PREPARATION"

- recipe.steps.each do |step|
  %p
    = step.description

  = image_tag step.image(:medium)