%p
  = @recipe.name
%p
  = @recipe.portion
%p
  = @recipe.preparation
%p
  = @recipe.duration
%p
  = @recipe.slug
%ul
  - @recipe.ingredients_with_quantities.each do |i|
    %li
      = "#{i.quantity} #{i.name}"