- content_for :map_overlay_content do
  :javascript
    $(document).ready(function(){
      $('.recipe_imagesteps').bxSlider({
       pager: false,
       infiniteLoop: false,
       hideControlOnEnd: true,
       mode: 'fade'
      });
    });

  .left-haupt_recipe
    .content
      %h1
        = @recipe.name
      %hr
      %p
        cooked by 
        %em
          = "#{@recipe.user.firstname.capitalize} #{@recipe.user.lastname[0].capitalize + '. ' if @recipe.user.lastname.present?}(#{@recipe.user.age})"
        from
        = @recipe.country  

      %ul.recipe_imagesteps
        - @recipe.steps.order_by(:number).each do |step|
          %li
            = image_tag step.image.url(:large), class:"recipe_imagesteps_image"
            %p
              = step.description


      #recipe_ingredients_content
        %h1
          Ingredients for
          = formatted_portions(@recipe)
          = @recipe.portions > 1 ? "persons" : "person"
        %table
          - @recipe.ingredients_with_quantities.each do |iwq|
            %tr
              %td
                = iwq.quantity
              %td.declaration
                = iwq.name

      #recipe_steps_klein_wrapper
        %h1
          Preparation
        - @recipe.steps.order_by(:number).each do |step|
          %div{class: "recipe_steps_klein #{'no-image' unless step.image.present?}"}
            .numbers
              %strong
                = step.number + 1
            .recipe_steps_container
              - if step.image.present?
                .bild
                  = image_tag step.image(:small)

              .recipe_steps_klein_beschreibung
                %p
                  = step.description
        

= render :template => "recipes/search"
