- recipe ||= @recipe

%div#img_preview
  - recipe.images.each do |image|
    = image_tag image.attachment(:medium)

%div#prev_recipe_info
  %h1
    = recipe.name.blank? ? "The title of your recipe" : recipe.name

  %div#p_prev
    %p
      Portions:
      %em 
        = recipe.portions

    %p
      Preparation time: 
      %em
        = recipe.duration.present? ? "#{recipe.duration} min" : "your preparation time"

    - if recipe.user
      %p
        Cooked by: 
        %em
          = recipe.user.formatted_user_info

%div#prev_ingredients
  %h2 
    = "your ingredients"
  - recipe.ingredients_with_quantities.each do |ingredient|
    %ul
      %li
        = "#{ingredient.quantity} #{ingredient.name}"

%div#prev_preparation
  %h2
    = "how to prepare your meal"

  
  - recipe.steps.each_with_index do |step, index|
    %div.prev_preparatoin_step
      = image_tag step.image(:medium)
      %p
        %em
          = "Step #{index + 1}:" 
        %br
        = step.description

  