- user = session[:user_id].present? ? User.find(session[:user_id]) : User.new

:javascript
  $(document).ready(function(){
    prepare_user_map();

    $("form", "#user_tab").dirtyValidation();

    if($("[selected]", "#user_gender").size() == 1 && $("[selected]", "#user_gender").first().val().length > 1){
      gender_icon($("#user_gender").val());
    }
  });

= form_for user, :html => { class:"user_form" } do |f|
  #content
    %h1.tellus
      Who are you and where are you from? 
      %br
      Tell Jacob 
      %span something 
      about 
      %span yourself

    %hr
    
    %p
      Of course Jacob wants to get to know the person who shared a great recipe with him.   
      But no worries. Your email-address is optional and only the first letter of your surname will be shown online.  
    .links
      %p
        = f.label :firstname, "First name", id:"vorname"
        = f.text_field :firstname, "data-required" => true, "data-type" => "text", tabindex:"5"

      %p
        = f.label :city, "City", id:"city"
        = text_field_tag "address-search", params["address-search"], class:"address-search", "data-required" => true, tabindex:"7"
        - if request.location
          - @location = request.location.data
          - @city = (session[:location][:city] if session[:location]) || @location[:city] || ""
          - @country = (session[:location][:country] if session[:location]) || @location[:country_name] || ""
          - @longitude = (session[:location][:longitude] if session[:location]) || @location[:longitude] || ""
          - @latitude = (session[:location][:latitude] if session[:location]) || @location[:latitude] || ""


        = hidden_field_tag :longitude, @longitude
        = hidden_field_tag :latitude, @latitude
        = hidden_field_tag :country, @country, :id => "country_hidden"
        = hidden_field_tag :city, @city, :id => "city_hidden"
        .map{"data-longitude" => "#{@longitude}", "data-latitude" => "#{@latitude}"}


    .rechts    
      %p
        = f.label :lastname, "Last name"
        = f.text_field :lastname, tabindex:"6", "data-type" => "text"
      %p.youremailmargin
        = f.label :email, "Your E-mail address"
        = f.text_field :email, tabindex:"8", "data-type" => "email"
                   
      %p
        = f.label :heard_from, "How did you hear from Jacob Joins?"             
        = f.select :heard_from, options_for_select([['Letter', 'letter'], ['Friends', 'friends'], ['Email', 'email'], ['Facebook', 'facebook'], ['Pling.de', 'pling.de'], ['Poster', 'poster'], ['Flyer', 'flyer'], ['Other', 'other']]), {}, :onchange => "heard_from($(this).val());"
        = text_field_tag :heard_from_other
      
      .genderage1
        = f.label :gender, "Gender"
        #gendericons
          = link_to image_tag("male_inactive.png", class:"male"), "#", id:"male_link", :onclick => "return gender_icon('male');"
          = link_to image_tag("female_inactive.png", class:"female"), "#", id:"female_link", :onclick => "return gender_icon('female');"
        = f.select :gender, [['',''], ['Female', 'female'], ['Male', 'male']], {}, { "data-required" => true, "data-error-target" => "#gendericons" }
    
      .genderage2
        = f.label :age, "Age"
        = f.text_field :age, "data-required" => true, "data-type" => "numerical", tabindex:"9"
      
    = link_to "", '#!/form/preview_tab', class:"next_tab"
