- user = session[:user_id].present? ? User.find(session[:user_id]) : User.new

:javascript
  $(document).ready(function(){
    $("form", "#user_tab").dirtyValidation();
  });

= form_for user, :html => { :class => "user_form" } do |f|
  #content
    %h1.tellus
      Tell Jacob 
      %span something 
      %br
      about yourself!

    %hr
    
    %p
      Of course Jacob wants to get to know the person who shared a great recipe with him.   
      But no worries. Your email-address is optional and only the first letter of your sirname will be shown online.  
    .links
      %p
        = f.label :firstname, "First name", id:"vorname"
        = f.text_field :firstname, "data-required" => true, tabindex:"1"

      - if request.location
        - @location = request.location.data
        - @city = (session[:location][:city] if session[:location]) || @location[:city] || ""
        - @country = (session[:location][:country] if session[:location]) || @location[:country_name] || ""
        - @longitude = (session[:location][:longitude] if session[:location]) || @location[:longitude] || ""
        - @latitude = (session[:location][:latitude] if session[:location]) || @location[:latitude] || ""

      = text_field_tag "address-search", nil, class:"address-search", "data-required" => true, tabindex:"3", value:"#{@city + ', ' if @city.present?}#{@country if @country.present?}"
      .map{"data-longitude" => "#{@longitude}", "data-latitude" => "#{@latitude}"}

      = hidden_field_tag :longitude, @longitude
      = hidden_field_tag :latitude, @latitude
      = hidden_field_tag :country, @country
      = hidden_field_tag :city, @city

      %p
        = f.label :gender, "Gender"
        = link_to image_tag("male_inactive.png", :class=>"male #{'selected' if user.gender == 'male'}"), "#", :id => "male_link", :onclick => "return gender_icon('male');"
        = link_to image_tag("female_inactive.png", :class=>"female #{'selected' if user.gender == 'female'}"), "#", :id => "female_link", :onclick => "return gender_icon('female');"
        = f.select :gender, [['',''], ['Female', 'female'], ['Male', 'male']], {}, { "data-required" => true }

    .rechts    
      %p
        = f.label :lastname, "Last name"
        = f.text_field :lastname, tabindex:"2", placeholder:"your last name"
      %p.youremailmargin
        = f.label :email, "Your E-mail address"
        = f.text_field :email, "data-type" => "email"
        .email
          We just need your e-mail address to send you our final product!            
      %p
        = f.label :heard_from, "How did you hear from Jacob Joins?"            
      %p  
        = f.select :heard_from, options_for_select([['Internet', 'internet'], ['Letter', 'letter'], ['Other', 'other']]), {}, :onchange => "heard_from($(this).val());"
        = text_field_tag :heard_from_other
      %p
        = f.label :age, "Age"
        = f.text_field :age, "data-required" => true, "data-type" => "numerical"   
    .einzug  
      = button_to "Next tab", '#', :class => "next_tab"