- user = User.find(session[:user_id]) if session[:user_id].present?

%h3
  = link_to "Fill in with fake data", "#", :onclick => "fill_in_user(); return false;"

= form_for user do |f|
  %p
    = f.label :name, "Name"
    = f.text_field :name
  %p
    = f.label :gender, "Gender"
    = f.select :gender, options_for_select([['Female', 'female'], ['Male', 'male']])
  %p
    = f.label :age, "Age"
    = f.text_field :age
  %p
    = f.label :email, "Email"
    = f.text_field :email
  %p
    = f.label :heard_from, "How did you hear from Jacob Joins?"
    = f.radio_button :heard_from, "Internet"
    = f.label :heard_from, "Internet"
    = f.radio_button :heard_from, "Letter"
    = f.label :heard_from, "Letter"
    = f.radio_button :heard_from, "blabla"
    = f.label :heard_from, "blabla"
    = f.radio_button :heard_from, "blablabla"
    = f.label :heard_from, "blablabla"


  %p
    = label_tag :country, "Country"
    - #Get location by IP-address
    - @location = request.location
    - if (!defined? @location) || (@location.data['country_name'].empty?) || (@location.data['country_name'] == "Reserved")
      = text_field_tag :country
    - else
      = text_field_tag :country, :value => @location.data['country_name']

  %p
    = label_tag :city, "City"
    - if (!defined? @location) || (@location.data['city'].empty?)
      = text_field_tag :city
    - else
      = text_field_tag :city, :value => @location.data['city']

  .hidden
    = hidden_field_tag :longitude
    = hidden_field_tag :latitude

