%section#newsbar_new
  #newsbar_content_
    #fb_
      %h2
        = link_to "Join us on Facebook", "https://www.facebook.com/jacobjoins", class:"fblike", :target => "_blank"

      %p#fb_error_
        ="Sorry, Facebook news are not available!"
      .mcs_container_#fb_stream
        .customScrollBox
          .container
            .content
          .dragger_container
            .dragger
        = link_to "", "#", class:"scrollUpBtn"
        = link_to "", "#", class:"scrollDownBtn"

      .fb-like_{"data-href"=>"http://www.facebook.com/jacobjoins", "data-send"=>"false", "data-layout"=>"button_count", "data-width"=>"150", "data-show-faces"=>"false"}

    #entries_
      %h2
        What happened so far  
      .mcs_container_#jj_stream
        .customScrollBox
          .container
            .content#last_entry_
          .dragger_container
            .dragger
        = link_to "", "#", class:"scrollUpBtn"
        = link_to "", "#", class:"scrollDownBtn"
      

    #fancy_counter_
      %h2
        Countdown to release on 4 June '12

    - if Rails.env.production?
      #countdown_
        %h4.countdown_kl_
          Countdown to release:
        #days_
        #hours_
        #minutes_
        #seconds_
    - else
      = render_navigation
    
    #logo_
      = image_tag "logo.png"

    #beta_

  #clickandsee_
    = link_to "", "#", class:"show_newsbar"
