%section#newsbar
  #newsbar_content
    #fb
      %h2
        = link_to "Join us on Facebook", "https://www.facebook.com/jacobjoins", class:"fblike", :target => "_blank"

      %p#fb_error 
        ="Sorry, Facebook news are not available!"
      .mcs_container#fb_stream
        .customScrollBox
          .container
            .content
          .dragger_container
            .dragger
        = link_to "", "#", class:"scrollUpBtn"
        = link_to "", "#", class:"scrollDownBtn"

      .fb-like{"data-href"=>"http://www.facebook.com/jacobjoins", "data-send"=>"false", "data-layout"=>"button_count", "data-width"=>"150", "data-show-faces"=>"false"}

    #entries
      %h2
        What happened so far  
      .mcs_container#jj_stream
        .customScrollBox
          .container
            .content#last_entry
          .dragger_container
            .dragger
        = link_to "", "#", class:"scrollUpBtn"
        = link_to "", "#", class:"scrollDownBtn"
      

    #fancy_counter
      %h2
        Countdown to release on 4 June '12

    #countdown
      %h4.countdown_kl
        Countdown to release:
      #days
      #hours
      #minutes
      #seconds 
    
    #logo
      = image_tag "logo.png"

    #beta

  #clickandsee
    = link_to "", "#", class:"show_newsbar"
