:javascript
  $(function() {
    $('a.lightbox.brief').lightBox({
      overlayBgColor: '#FFF',
      overlayOpacity: 0.6,
      imageLoading: '#{image_path("ajax-loader.gif")}',
      imageBtnClose: '#{image_path("lightbox/btn-close.gif")}',
      imageBtnPrev: '#{image_path("lightbox/btn-prev.gif")}',
      imageBtnNext: '#{image_path("lightbox/btn-next.gif")}',
      imageBlank: '#{image_path("lightbox/blank.gif")}',
      containerResizeSpeed: 350
    });
  });
  $(function() {
    $('a.lightbox.bierdeckel').lightBox({
      overlayBgColor: '#FFF',
      overlayOpacity: 0.6,
      imageLoading: '#{image_path("ajax-loader.gif")}',
      imageBtnClose: '#{image_path("lightbox/btn-close.gif")}',
      imageBtnPrev: '#{image_path("lightbox/btn-prev.gif")}',
      imageBtnNext: '#{image_path("lightbox/btn-next.gif")}',
      imageBlank: '#{image_path("lightbox/blank.gif")}',
      containerResizeSpeed: 350
    });
  });

= render "newsbar_new"

.aboutcontent
  #teamvorstellung
    %h1
      It’s a pleasure to introduce you to our 
      %span
        great team! 
    %hr

    #teamfoto
      %ul
        %li#isi
          .member
            %h5
              Ismail Hanli
            %p
              Webdeveloper
        %li#marta
          .member
            %h5
              Marta Janosz
            %p
              Webdeveloper
        %li#alex
          .member
            %h5
              Alexander Flatscher
            %p
              Webdeveloper
        %li#martina
          .member
            %h5
              Martina Edelhofer
            %p
              Webdeveloper
        %li#doris
          .member
            %h5
              Doris Wimmer
            %p
              Webdeveloper
        %li#tina
          .member
            %h5
              Kristina Fallenegger
            %p
              Webdeveloper
        %li#daniel
          .member
            %h5
              Daniel Blaichinger
            %p
              Webdeveloper
        %li#daniela
          .member
            %h5
              Daniela Rieser
            %p
              Webdeveloper

    %p.aboutteam
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 


#projektteile
  %h1
    Here you see project bla bla bla 
    %span
        
  %hr

  = image_tag 'Slider_JacobJoins.jpg', class:"jj-lettering"

  %ul#projektarbeiten
    %li.brief
      .projektinfo
        %h4
          100 Letters
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      #lightbox_container
        = link_to image_tag('briefe/02-tisch.jpg', class:"lightbox_first"), image_path('briefe/02-tisch.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1029.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1035.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1045.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1050.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1066.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1071.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1078.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1269.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/01-briefe.jpg'), class:"lightbox brief", title:"table bla"

    %li.brief
      .projektinfo
        %h4
          Letterpress coasters
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      #lightbox_container
        = link_to image_tag('bierdeckel/IMG_5039.jpg', class:"lightbox_first"), image_path('bierdeckel/IMG_5039.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_4989.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_4993.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_5023.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_5035.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_4994.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_5028.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_5037.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_5067.jpg'), class:"lightbox bierdeckel", title:"table bla"
    %li.brief
      .projektinfo
        %h4
          Food Lettering
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      #lightbox_container
        = link_to image_tag('briefe/02-tisch.jpg', class:"lightbox_first"), image_path('briefe/02-tisch.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1029.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1035.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1045.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1050.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1066.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1071.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1078.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1269.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/01-briefe.jpg'), class:"lightbox brief", title:"table bla"


    %li.brief
      .projektinfo
        %h4
          Sponsoring
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      #lightbox_container
        = link_to image_tag('briefe/02-tisch.jpg', class:"lightbox_first"), image_path('briefe/02-tisch.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1029.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1035.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1045.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1050.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1066.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1071.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1078.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1269.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/01-briefe.jpg'), class:"lightbox brief", title:"table bla"

= render "footer"
