:javascript
  $(function() {
    $('a.lightbox.brief').lightBox(
      window.lightboxSettings
    );
  });
  $(function() {
    $('a.lightbox.bierdeckel').lightBox(
      window.lightboxSettings
    );
  });


.aboutcontent
  #teamvorstellung
    %h1
      It’s a pleasure to introduce you to our 
      %span
        great team! 
    %hr

    #teamfoto
      %ul
        %li#isi
          .member
            %h5
              = link_to 'Ismail Hanli', "http://ismailhanli.multimediatechnology.at/"
            %p
              Webdevelopment
        %li#marta
          .member
            %h5
              = link_to 'Marta Janosz', "http://www.martajanosz.com/"
            %p
              Webdesign
              %br
              Project leadership
        %li#alex
          .member
            %h5
              Alexander Flatscher
            %p
              Webdevelopment
        %li#martina
          .member
            %h5
              = link_to 'Martina Edelhofer', "http://edelhofer.multimediaart.at/"
            %p
              Webdesign
        %li#doris
          .member
            %h5
              = link_to 'Doris Wimmer', "http://www.doris-wimmer.com/"
            %p
              Advertising & Promotion
        %li#tina
          .member
            %h5
              = link_to 'Kristina Fallenegger', "http://www.kristina-fallenegger.at/"
            %p
              Sponsoring & Infographic
        %li#daniel
          .member
            %h5
              = link_to 'Daniel Blaichinger', "http://dblaichinger.multimediatechnology.at/"
            %p
              Webdevelopment
        %li#daniela
          .member
            %h5
              = link_to 'Daniela Rieser', "http://www.danielarieser.com/"
            %p
              Corporate Design
              %br
              Project leadership

    .aboutteam
      %p
        We are 
        %em eight students 
        attending the University of Applied Sciences in Salzburg. Our majors are MultiMediaArt and MultiMediaTechnolgy. 
        %br
        %br
        The 
        %em aim of our final project 
        is to
        %em bring people 
        from all over the world 
        %em together in an unconventional way. 
        %br
        %br
        Food is part of our lifestyle and our culture, it implies traditions and offers many ways of preparation. We would love to gain pure impressions of the different eating habits and cultures. 
        %br
        %br
        %em That’s how the idea of Jacob Joins - Global Cooking came to life.

      %p.aboutteamhint
        Hover the cursor over the picture to learn more about our team.


#projektteile
  %h1
    Have a look at our amazing  
    %span
      project work! 
  %hr

  = image_tag 'Slider_JacobJoins.jpg', class:"jj-all"

  %ul#projektarbeiten
    %li.brief
      .projektinfo
        %h4
          100 Letters
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      #lightbox_container
        = link_to image_tag('briefe/02-tisch.jpg', class:"lightbox_first"), image_path('briefe/02-tisch.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1029.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1035.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1045.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1050.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1066.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1071.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1078.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1269.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/01-briefe.jpg'), class:"lightbox brief", title:"table bla"

    %li.brief
      .projektinfo
        %h4
          Letterpress coasters
        %p
          Food and drink are going together - and if you are drinking you might need a coaster. So in addition to our letters 
          %em about 800 coasters were printed 
          to function as further advertising efforts. Each coaster was letterpress printed by hand in brown on 1.4 mm thick cardboard.

      #lightbox_container
        = link_to image_tag('bierdeckel/IMG_5039.jpg', class:"lightbox_first"), image_path('bierdeckel/IMG_5039.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_4989.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_4993.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_5023.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_5035.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_4994.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_5028.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_5037.jpg'), class:"lightbox bierdeckel", title:"table bla"
        = link_to "", image_path('bierdeckel/IMG_5067.jpg'), class:"lightbox bierdeckel", title:"table bla"
    %li.brief
      .projektinfo
        %h4
          Food Lettering
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      #lightbox_container
        = link_to image_tag('briefe/02-tisch.jpg', class:"lightbox_first"), image_path('briefe/02-tisch.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1029.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1035.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1045.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1050.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1066.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1071.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1078.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1269.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/01-briefe.jpg'), class:"lightbox brief", title:"table bla"


    %li.brief
      .projektinfo
        %h4
          Sponsoring
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

      #lightbox_container
        = link_to image_tag('briefe/02-tisch.jpg', class:"lightbox_first"), image_path('briefe/02-tisch.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1029.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1035.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1045.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1050.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1066.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1071.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1078.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/DSC_1269.jpg'), class:"lightbox brief", title:"table bla"
        = link_to "", image_path('briefe/01-briefe.jpg'), class:"lightbox brief", title:"table bla"

= render "footer"
