/ %h3
/   = link_to "Fill in recipe with fake data", "#", :onclick => "fill_in_recipe(); return false;"
/ %h3
/   = link_to "Fill in CSI with fake data", "#", :onclick => "fill_in_csis(); return false;"
/ %h3
/   = link_to "Fill in about you with fake data", "#", :onclick => "fill_in_user(); return false;"
 
#jacobsstory
  #start
    = image_tag 'Logo_start.png', id:"Logo_start"
    = image_tag 'Bildzeichen_Screen.png', id:"Bildzeichen_Screen"
    
    %h3
      Who is Jacob?

    %p.scroll
      Scroll down
      = image_tag 'pfeil.png'

    %a
      = link_to "You already know the story? Just go on to the form!"

  #story_1
    %p
      Welcome. Here’s what it’s all about 
      %br
      There is this young bookseller from the beautiful
      %br
      city Salzburg in the little european Country Austria.
      %br
      his name is jacob
      %br
      and suddenly he had
      %br
      a wonderful idea

  #story_2

  #story_3

  #story_4

  #story_5

  #story_6



#wizard
  #formnav
    = image_tag 'schleife.png', id:"schleife"

    %ul
      %li
        = link_to 'Your Recipe', "#recipe_tab", id:"yourrecipe"
      %li
        = link_to 'About your country', "#country_specific_information_tab", id:"aboutyourcountry"
      %li
        = link_to 'About you', "#user_tab", id:"aboutyou"
      %li
        = link_to 'preview', "#preview_tab", id:"yourpreview"
    = image_tag 'formnav_endimg.png', id:"endimg"

    #general
      If there´s an ! at one point in the navigation make sure you filled in the form correctly.

  #recipe_tab
    - session[:recipe_id] = nil
    = render :template => "recipes/new"
  #country_specific_information_tab
    - session[:csi_set_id] = nil
    = render :template => "country_specific_informations/new"
  #user_tab
    - session[:user_id] = nil
    - session[:location] = nil
    = render :template => "users/new"
  #preview_tab
    - unless session[:csi_set_id] || session[:recipe_id]
      %h1.no_preview NOTHING TO DO HERE

    .recipe
    .csi

    = button_tag "Finish and Send", id:"send", disabled:"disabled"

#footer