#wizard
  #formnav
    = image_tag 'schleife.png', id:"schleife"

    %ul
      %li
        = link_to 'Your Recipe', "#recipe_tab"
      %li
        = link_to 'About your country', "#country_specific_information_tab", id:"aboutyourcountry"
      %li
        = link_to 'About you', "#user_tab"
      %li
        = link_to 'preview', "#preview_tab"
    = image_tag('formnav_endimg.png', id:"endimg")

  #recipe_tab
    - session[:recipe_id] = nil
    = render :template => "recipes/new"
  #country_specific_information_tab
    - session[:csi_set_id] = nil
    = render :template => "country_specific_informations/new"
  #user_tab
    - session[:user_id] = nil
    - session[:location] = nil
    = render :template => "users/new"
  #preview_tab
    .recipe
    .csi

    = button_tag "Finish and Send", id:"send"

