#jacobsstory
  #start
    #story_0
      = image_tag 'Logo_start.png', id:"Logo_start"
      = image_tag 'Bildzeichen_Screen.png', id:"Bildzeichen_Screen"
      
      %h3
        Who is Jacob?

      = link_to 'Scroll down', "#story_1", class:"scroll"

      = link_to 'You already know the story? Just go on to the form!', "#!/form/recipe_tab"
  .stories
    #story_1
      #text_1
        %p.welcome1
          Welcome 
        %p.welcome11
          Here’s what it’s all about 
        %p.welcome2
          There is this young bookseller from the beautiful
        %p.welcome22  
          city Salzburg in the little european country Austria.
        %p.welcome4
          his name is jacob
        %p.welcome5
          and suddenly he had
        %p.welcome6
          a wonderful idea.
    .uebergang
    #story_2
      #text_2
        %p.idea1
          How did he come up 
        %p.idea11
          with his idea?
        %p.idea2
          While strolling Jacob found a message in a 
        %p.idea22
          bottle, which was probably really, really old.
        %p.idea3
          The only thing he could figure out 
        %p.idea4
          was that it´s supposed to be a 
        %p.idea5
          precious, old recipe.
        %p.idea6
          But only the following three ingredients where still readable:
        %p.idea7  
          potatoe, onion and egg.
    .uebergang3
    #story_3
      #text_3
        %p.intention1
          What is his intention?
        %p.intention2
          The person who dropped the message will never know 
        %p.intention22
          who found it, but Jacob loved this pleasant idea of 
        %p.intention3
          sharing a little secret
        %p.intention4
          with somebody no matter who it is.
        %p.intention5
          So he would like you to share your little culinary secrets
        %p.intention55  
          with people in the whole world according to the last
        %p.intention6 
          three remaining ingredients.                    
    .uebergang2  
    #story_4
      #text_4
        %p.join1
          Why should you join Jacob?
        %p.join2
          Food is a part of your culture, your lifestyle & yourself.
        %p.join3
          Give the world 
        %p.join33
          a pure impression of
        %p.join4
          your country, your spicery and
        %p.join5
          your way of cooking.    
    .uebergang4
    #story_5
      #text_5
        %p.sharing1
          Sharing is caring
        %p.sharing11
          If the project keeps running  
        %p.sharing2
          until june and it has a chance to be successful,
        %p.sharing22
          Jacob is going to start a donation campaign. 
        %p.sharing3
          For each uploaded recipe 
        %p.sharing4
          an pre-defined amount of 
        %p.sharing44
          money will be transfered from sponsores
        %p.sharing5
          to a selected institution.
    .uebergang5
      = image_tag 'pattern_uebergang5_mitte.jpg', class:"mitte_bildzeichen"
    #share
      #text_6
        %p.share
          Share your favourite recipe 
          %br
          with Jacob and the world!
        %p.share2
          There you go, fill in our lovely form!  

    #story_6

#skipstory

#wizard
  #formnav
    = image_tag 'schleife.png', id:"schleife"

    %ul
      %li
        = link_to 'Your Recipe', "#recipe_tab", id:"yourrecipe"
      %li
        = link_to 'About your country', "#country_specific_information_tab", id:"aboutyourcountry"
      %li
        = link_to 'About you', "#user_tab", id:"aboutyou"
      %li
        = link_to 'preview', "#preview_tab", id:"yourpreview"
    = image_tag 'formnav_endimg.png', id:"endimg"

    #general
      If there´s an ! at one point in the navigation make sure you filled in the form correctly.

  #recipe_tab
    - session[:recipe_id] = nil
    = render :template => "recipes/new"
  #country_specific_information_tab
    - session[:csi_set_id] = nil
    = render :template => "country_specific_informations/new"
  #user_tab
    - session[:user_id] = nil
    - session[:location] = nil
    = render :template => "users/new"
  #preview_tab
    = render :template => "pages/preview"

#footer
  .kastl
    = image_tag 'schleife2.png', class:"schleife" 
    = image_tag 'bildzeichen_footer.png', id:"bildzeichen_footer"
    %h1.likeproject
      You like this 
      %br
      project?
    %p.know
      Please let us know
    = link_to "hello@jacobjoins.com", "mailto:hello@jacobjoins.com", class:"mailto"
  %p.year
    2012 © jacobjoins

