#jacobsstory
  #start
    #story_0
      = image_tag 'Logo_start.png', id:"Logo_start"
      = image_tag 'Bildzeichen_Screen.png', id:"Bildzeichen_Screen"
      
      %h3
        = link_to 'Who is Jacob?', "#story_1", class:"scroll", id:"who"  

      = link_to 'Scroll down', "#story_1", class:"scroll"

      = link_to 'You already know the story? Just go on to the form!', "#!/form/recipe_tab", id:"gotoform"
  .stories
    #story_1
      #text_1
        %p.welcome1
          There is this young bookseller from the beautiful
          %br
          city Salzburg in the European country Austria and
        %p.welcome2
          his name is Jacob.
        %p.welcome3
          One day he suddenly found
        %p.welcome4
          a message in a bottle.
    .uebergang1
    #story_2
      #text_2
        %p.ingredients1
          Inside this old bottle was
        %p.ingredients2
          a precious recipe.
        %p.ingredients3
          But only these three ingredients were still readable:
        %p.ingredients4 
          potato, onion and egg.
    .uebergang2
    #story_3
      #text_3
        %p.sharing1
          Jacob loved this idea of
        %p.sharing2
          sharing a recipe. 
        %p.sharing3
          So he would like you to share your little culinary 
          %br
          secrets and give the world a pure impression of
        %p.sharing4
          your cooking habits.                   
    .uebergang3
      = image_tag 'pattern_uebergang3_mitte.jpg', class:"mitte_bildzeichen"
    #share
      #text_4
        %h3.share
          Share your favourite recipe 
          %br
          with Jacob and the world!
        %p.share2
          There you go, fill in our lovely form!  

    #story_6

#skipstory

#wizard
  #formnav
    = image_tag 'schleife.png', id:"schleife"

    %ul
      %li
        = link_to 'Your Recipe', "#recipe_tab", id:"yourrecipe"
      %li
        = link_to 'About your country', "#country_specific_information_tab", id:"aboutyourcountry"
      %li
        = link_to 'About you', "#user_tab", id:"aboutyou"
      %li
        = link_to 'preview', "#preview_tab", id:"yourpreview"
    = image_tag 'formnav_endimg.png', id:"endimg"

    #general
      If there´s an exclamationmark "!" at one point in the navigation make sure you filled in the form correctly.

  #recipe_tab
    - session[:recipe_id] = nil
    = render :template => "recipes/new"
  #country_specific_information_tab
    - session[:csi_set_id] = nil
    = render :template => "country_specific_informations/new"
  #user_tab
    - session[:user_id] = nil
    - session[:location] = nil
    = render :template => "users/new"
  #preview_tab

  #wizard-loader{style:"display:none;"}
    .loader
      = image_tag 'ajax-loader.gif'
      %h1 loading ...

#feedback
  = link_to "", "mailto:hello@jacobjoins.com", class:"feedback"

#footer
  #footercontent
    %div.kastlcontent
      .kastl
        = image_tag 'sharing.png', class:"schleife" 

        %p#text_donation
          If the project keeps running  until June and it has a chance to be successful, Jacob is going to start a 
          %span donation campaign.
          %br
          %br
          For each uploaded recipe  an pre-defined amount of money will be transfered from sponsores  to a selected institution.
      
    #footer_information
      %p.likeproject
        You like this project?
        Or have any questions? Feel free to contact us!
     
      
      = link_to "hello@jacobjoins.com", "mailto:hello@jacobjoins.com", class:"mailto"
      

      #subinformation
        %p.fb_like
          = link_to "Join us on Facebook!", "https://www.facebook.com/jacobjoins", class:"fb"

        %p.adresse
          Urstein Süd 1
          %br
          5412 Puch bei Hallein
          %br
          Austria

        = link_to "", "http://www.fh-salzburg.ac.at/", class:"fh_logo"

  #fb-root
