/ %h3
/   = link_to "Fill in recipe with fake data", "#", :onclick => "fill_in_recipe(); return false;"
/ %h3
/   = link_to "Fill in CSI with fake data", "#", :onclick => "fill_in_csis(); return false;"
/ %h3
/   = link_to "Fill in about you with fake data", "#", :onclick => "fill_in_user(); return false;"
 
#jacobsstory
  #start
    #story_0
      = image_tag 'Logo_start.png', id:"Logo_start"
      = image_tag 'Bildzeichen_Screen.png', id:"Bildzeichen_Screen"
      
      %h3
        Who is Jacob?

      %p.scroll
        Scroll down
        = image_tag 'pfeil.png'

      %a
        = link_to 'You already know the story? Just go on to the form!', "#skipstory"
  .stories
    #story_1
      #text_1
        %p.welcome1
          Welcome 
        %p.welcome11
          Here’s what it’s all about 
        %p.welcome2
          There is this young bookseller from the beautiful
          city Salzburg in the little european Country Austria.
        %p.welcome4
          his name is jacob
        %p.welcome5
          and suddenly he had
        %p.welcome6
          a wonderful idea

    #story_2
      #text_2
        %p.idea1
          How did he come up 
        %p.idea11
          with his idea?
        %p.idea2
          While strolling Jacob found a message in a 
          %br
          bottle, which was probably really, really old.
        %p.idea3
          The only thing he could figure out 
        %p.idea4
          was that it´s supposed to be a 
        %p.idea5
          precious, old recipe

    #story_3
      #text_3
        %p.intention1
          What is his intention?
        %p.intention2
          The person who dropped the message will never know 
        %p.intention22
          who found it, but Jacob loved this pleasant idea of 
        %p.intention3
          sharing a little secret
        %p.intention4
          with somebody no matter who it is.
        %p.intention5
          So he would like you to share your little culinary secrets
        %p.intention55  
          with people in the whole world according to the last
        %p.intention6 
          three remaining ingredients                    
            
    #story_4
      #text_4
        %p.join1
          Why should you join Jacob?
        %p.join2
          Food is a part of your culture, your lifestyle & yourself.
        %p.join3
          Give the world 
        %p.join33
          a pure impression of
        %p.join4
          your country, your spicery and
        %p.join5
          your way of cooking    

    #story_5
      #text_5
        %p.sharing1
          Sharing is caring
        %p.sharing11
          If the project keeps running  
        %p.sharing2
          until june and it has a chance to be successful,
          %br
          Jacob is going to start a donation campaign. 
        %p.sharing3
          For each uploaded recipe 
        %p.sharing4
          an pre-defined amount of 
        %p.sharing44
          money will be transfered from sponsores
        %p.sharing5
          to a selected institution           

    #share
      #text_5
        %p.share
          Share your favourite recipe 
          %br
          with Jacob and the world!
        %p.share2
          There you go, fill in our lovely form!  

    #story_6

#skipstory

#wizard
  #formnav
    = image_tag 'schleife.png', id:"schleife"

    %ul
      %li
        = link_to 'Your Recipe', "#recipe_tab", id:"yourrecipe"
      %li
        = link_to 'About your country', "#country_specific_information_tab", id:"aboutyourcountry"
      %li
        = link_to 'About you', "#user_tab", id:"aboutyou"
      %li
        = link_to 'preview', "#preview_tab", id:"yourpreview"
    = image_tag 'formnav_endimg.png', id:"endimg"

    #general
      If there´s an ! at one point in the navigation make sure you filled in the form correctly.

  #recipe_tab
    - session[:recipe_id] = nil
    = render :template => "recipes/new"
  #country_specific_information_tab
    - session[:csi_set_id] = nil
    = render :template => "country_specific_informations/new"
  #user_tab
    - session[:user_id] = nil
    - session[:location] = nil
    = render :template => "users/new"
  #preview_tab
    
    %h1
      %strong 1
      Here is what you told 
      %br
      Jacob about
      %span your recipe

    %hr

    - unless session[:recipe_id]
      %p.no_recipe_preview 
        Of course we would be happy about a new recipe in our collection. Maybe you have a few minutes left.
        %a 
          = link_to 'Post Your recipe.'

    .recipe

    %h1#abyc_preview
      %strong 2
      That’s what you told 
      %br
      Jacob 
      %span about your country

    %hr

    - unless session[:csi_set_id]
      %p.no_csi_preview 
        We would love to find out more about country specific traditions and different lifestyles. Maybe you want to answer a few questions 
        %a 
          = link_to 'here.'
        Do it!
    
    .csi

    = button_tag "Finish and Send", id:"send", disabled:"disabled"

#footer
  .kastl
    = image_tag 'schleife2.png', class:"schleife" 
    = image_tag 'bildzeichen_footer.png', id:"bildzeichen_footer"
    %h1.likeproject
      You like this 
      %br
      project?
    %p.know
      Please let us know
    %p.mailto
      hello@jacobjoins.com 
  %p.year
    2012 © jacobjoins

