/ %h3
/   = link_to "Fill in recipe with fake data", "#", :onclick => "fill_in_recipe(); return false;"
/ %h3
/   = link_to "Fill in CSI with fake data", "#", :onclick => "fill_in_csis(); return false;"
/ %h3
/   = link_to "Fill in about you with fake data", "#", :onclick => "fill_in_user(); return false;"
 
#jacobsstory
  #start
    #story_0
      = image_tag 'Logo_start.png', id:"Logo_start"
      = image_tag 'Bildzeichen_Screen.png', id:"Bildzeichen_Screen"
      
      %h3
        Who is Jacob?

      %p.scroll
        Scroll down
        = image_tag 'pfeil.png'

      %a
        = link_to 'You already know the story? Just go on to the form!', "#wizard"

  #story_1
    %p.welcome1
      Welcome 
    %p.welcome11
      Here’s what it’s all about 
    %p.welcome2
      There is this young bookseller from the beautiful
      city Salzburg in the little european Country Austria.
    %p.welcome4
      his name is jacob
    %p.welcome5
      and suddenly he had
    %p.welcome5
      a wonderful idea

  #story_2

  #story_3

  #story_4

  #story_5

  #story_6



#wizard
  #formnav
    = image_tag 'schleife.png', id:"schleife"

    %ul
      %li
        = link_to 'Your Recipe', "#recipe_tab", id:"yourrecipe"
      %li
        = link_to 'About your country', "#country_specific_information_tab", id:"aboutyourcountry"
      %li
        = link_to 'About you', "#user_tab", id:"aboutyou"
      %li
        = link_to 'preview', "#preview_tab", id:"yourpreview"
    = image_tag 'formnav_endimg.png', id:"endimg"

    #general
      If there´s an ! at one point in the navigation make sure you filled in the form correctly.

  #recipe_tab
    - session[:recipe_id] = nil
    = render :template => "recipes/new"
  #country_specific_information_tab
    - session[:csi_set_id] = nil
    = render :template => "country_specific_informations/new"
  #user_tab
    - session[:user_id] = nil
    - session[:location] = nil
    = render :template => "users/new"
  #preview_tab
    
    %h1
      %strong 1
      Here is what you told 
      %br
      Jacob about
      %span your recipe

    %hr

    - unless session[:recipe_id]
      %p.no_recipe_preview 
        Of course we would be happy about a new recipe in our collection. Maybe you have a few minutes left.
        %a 
          = link_to 'Post Your recipe.'

    .recipe

    %h1#abyc_preview
      %strong 2
      That’s what you told 
      %br
      Jacob 
      %span about your country

    %hr

    - unless session[:csi_set_id]
      %p.no_csi_preview 
        We would love to find out more about country specific traditions and different lifestyles. Maybe you want to answer a few questions 
        %a 
          = link_to 'here.'
        Do it!
    
    .csi

    = button_tag "Finish and Send", id:"send", disabled:"disabled"

#footer
  .kastl
    = image_tag 'schleife2.png', class:"schleife" 
    = image_tag 'bildzeichen_footer.png', id:"bildzeichen_footer"
    %h1.likeproject
      You like this 
      %br
      project?
    %p.know
      Please let us know
    %p.mailto
      hello@jacobjoins.com 
  %p.year
    2012 © jacobjoins

