
#start

.wrapper-haupt_recipe

  .left-haupt_recipe
    .content
      %h1
        X Hier Rezeptname X
      %hr
      %p
        cooked by 
        %em
          Marta J. (22)
        from Poland  

      .recipe_imagesteps
        = image_tag 'recipe_anzeige_proberezept/proberezept.jpg', id:"recipe_imagesteps_image"
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

      #recipe_ingredients_content
        %table
          %tr
            %td
              1
            %td.declaration
              Onion
          %tr
            %td
              500g
            %td.declaration
              Potatoes
          %tr
            %td
              2 big
            %td.declaration
              Eggs   

      #recipe_steps_klein_wrapper
        %h1
          Preparation
        .recipe_steps_klein
          .numbers
            %strong 1
          .bild
            = image_tag 'recipe_anzeige_proberezept/step1.jpg', id:"steps"         
          .recipe_steps_klein_beschreibung
            %p
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        
        .recipe_steps_klein
          .numbers
            %strong 2
          .bild
            = image_tag 'recipe_anzeige_proberezept/step2.jpg', id:"steps"         
          .recipe_steps_klein_beschreibung
            %p
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

        .recipe_steps_klein
          .numbers
            %strong 13
          .bild
            = image_tag 'recipe_anzeige_proberezept/step2.jpg', id:"steps"         
          .recipe_steps_klein_beschreibung
            %p
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.





  .right-haupt
    .uebergang-seitenleiste
      .seitenleiste
        %h1
          Search
       


= yield :scripts          



