%section#newsbar_new
  #newsbar_content
    #fb
      %h2
        = link_to "Join us on Facebook", "https://www.facebook.com/jacobjoins", class:"fblike", :target => "_blank"

      %p#fb_error
        ="Sorry, Facebook news are not available!"
      .mcs_container#fb_stream
        .customScrollBox
          .container
            .content
          .dragger_container
            .dragger
        = link_to "", "#", class:"scrollUpBtn"
        = link_to "", "#", class:"scrollDownBtn"

      .fb-like{"data-href"=>"http://www.facebook.com/jacobjoins", "data-send"=>"false", "data-layout"=>"button_count", "data-width"=>"150", "data-show-faces"=>"false"}

    #bildzeichen_newsbar
      = image_tag 'bildzeichen.png'

    #entries
      %h2
        The last three entries  
      #jj_stream
        #last_entry
      
    #navi_neu
      = render_navigation
    
    #logo
      = image_tag "logo.png"

  #clickandsee
    = link_to "", "#", class:"show_newsbar"
