!!! html5
%html
  %head
    %title Jacob Joins - Global Cooking
    %link{ :href => "/favicon.png", :rel => "icon", :type => "image/png" }
    = stylesheet_link_tag "application", :media => "all"
    /[if IE 7]
      = stylesheet_link_tag "ie/ie7", :media => "all"
      :javascript
        document.childNodes[1].className += " ie7"
    /[if IE 8]
      = stylesheet_link_tag "ie/ie8", :media => "all"
      :javascript
        document.childNodes[1].className += " ie8"
    /[if IE 9]
      = stylesheet_link_tag "ie/ie9", :media => "all"
    /[if lte IE 6]
      = javascript_include_tag "ie/pngfix"

    = javascript_include_tag "application"

    :javascript

      $(document).ready(function(){
        $('#fancy_counter').tzineClock();
        newsbar.init();
        
        #{growl_flash_messages}
      });

      $(window).load(function(){
        newsbar.get_latest_recipe();
        newsbar.get_facebook_stream();
      });

    = csrf_meta_tags
    %meta{ charset:"utf-8" }

  %body
    #fb-root

    = render "layouts/newsbar_new"

    = render "layouts/contactable"

    = yield :scripts
    = content_for?(:content) ? yield(:content) : yield


    
