!!! html5
%html
  %head
    %title Jacob Joins - Global Cooking
    %link{ :href => "/favicon.png", :rel => "icon", :type => "image/png" }
    = stylesheet_link_tag "application", :media => "all"
    /[if IE 7]
      = stylesheet_link_tag "ie/ie7", :media => "all"
      :javascript
        document.childNodes[1].className += " ie7"
    /[if IE 8]
      = stylesheet_link_tag "ie/ie8", :media => "all"
      :javascript
        document.childNodes[1].className += " ie8"
    /[if IE 9]
      = stylesheet_link_tag "ie/ie9", :media => "all"
    /[if lte IE 6]
      = javascript_include_tag "ie/pngfix"

    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?language=en&key=AIzaSyBAt7YagkuVkG-eXQXemvn18f4yjiPMHCc&sensor=true&libraries=places"
    = javascript_include_tag "application"

    :javascript

      $(document).ready(function(){
        var passCount = 0;
        $('#fancy_counter').tzineClock();
        slide_newsbar();
        $("#newsbar").executeAt($("#start"), function(){
          $("#newsbar").fadeOut(500);
        },
        function(){
          $("#newsbar").fadeIn(500);

          if(passCount == 0){
            showClickAndSee();
            setTimeout("hideClickAndSee()", 2000);
            passCount++;
          }
        });
        
        #{growl_flash_messages}
      });

      $(window).load(function(){
        get_latest_recipe();
        get_facebook_stream();
      });

    = csrf_meta_tags
    %meta{ charset:"utf-8" }

  %body
    %section.flash_notifications
      - flash.each do |key, value|
        %div{ class:"flash_#{key}"}
          = value 

    = yield

    
