!!! html5
%html
  %head
    %title JacobJoins
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBAt7YagkuVkG-eXQXemvn18f4yjiPMHCc&sensor=true"
    
    = csrf_meta_tags
    %meta{:charset => "utf-8"}

  %body
    = yield