!!! html5
%html
  %head
    %title JacobJoins
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBAt7YagkuVkG-eXQXemvn18f4yjiPMHCc&sensor=true&libraries=places"
    = javascript_include_tag "application"
    :javascript
      $(document).ready(function(){
        get_latest_recipe();
        $('#fancy_counter').tzineClock();
        get_facebook_stream();
        slide_newsbar();
      });
      $(window).load(function(){
        //$.scrollTo($('#wizard'), 2000);
      });
        
    
    = csrf_meta_tags
    %meta{:charset => "utf-8"}

  %body
    %section
      - flash.each do |key, value|
        %div{:class => "flash_#{key}"}
          = value
    
    %section#newsbar
      %div#newsbar_content
        %div#fb
          %h2
            Join Jacob on Facebook
          
        %div#entries
          %h2
            What happened so far  
          #last_entry

        #fancy_counter
          %h2
            Countdown to release on 4 June 2012

        #countdown
          #days
          #hours
          #minutes
          #seconds
       
        %div#logo
          = image_tag( 'logo.png')

      %div#clickandsee
        %a{:href => "#", :class => "show_newsbar"}

    = yield

    
