- content_for :content do
  :javascript
    $(document).ready(function(){
      initInfobox();
      initClusterer();
      initSidebar(true);
      
      Gmaps.map.callback = function() {
        //Set eventlistener for Marker
        for (var i = 0; i < Gmaps.map.markers.length; ++i) {
          var marker = Gmaps.map.markers[i].serviceObject
          marker.description = Gmaps.map.markers[i].description;
          google.maps.event.addListener(marker, 'click', function(i){
            showRecipeSidebar(this);
          });
        }
        //Set eventlistener for MarkerCluster
        var markerClusterer = Gmaps.map.markerClusterer
        google.maps.event.addListener(markerClusterer, "clusterclick", function (cluster) {
          var markers = cluster.getMarkers();
          showRecipeSidebar(markers);
        });

        //Eventlistener for zoom changed
        google.maps.event.addListener(Gmaps.map.serviceObject, 'zoom_changed', function() {
          if(Gmaps.map.serviceObject.zoom < 5 && Gmaps.map.visibleInfoWindow != null){
            Gmaps.map.visibleInfoWindow.close();
          }
        });
      }

      $(window).load(function(){
        $('.window-sensitive').css("min-height", $(window).height() - 45);
        adjustParentOrWindowSensitiveElements();
        positionVerticalCentered($('#toggle_sidebar'), true);

      });

      $(window).resize(function(){
        $('.window-sensitive').css("min-height", $(window).height() - 45);
        adjustParentOrWindowSensitiveElements();
        positionVerticalCentered($('#toggle_sidebar'));
      });

      $('body').data('initMapLayoutDone', true);
    });

  .wrapper-haupt.window-sensitive

    = gmaps("markers" => { "data" => @location, "options" => { "do_clustering"=>true, "randomize"=>true, "max_random_distance"=>1000, "custom_infowindow_class" => "yellow" }}, "map_options" =>  { "language" => "en", "auto_zoom" => false, "zoom" => 0, "auto_adjust" => false, "center_longitude" => 50.45, "center_latitude" => 30.5 })

    .right-haupt.window-sensitive
      .seitenleiste.parent-or-window-sensitive
        .seitenleistecontent
          = content_for?(:sidebar_content) ? yield(:sidebar_content) : yield
      - if content_for?(:map_overlay_content)
        = yield(:map_overlay_content)
      - elsif content_for?(:sidebar_content)
        = yield
      #toggle_sidebar

= render :template => 'layouts/application'