- content_for :content do
  :javascript
    $(document).ready(function(){
      initInfobox();
      initClusterer();
      initSidebar();
    });

    $(window).load(function(){
      $('#map').css('height', ($(document).height()-50+"px"));
      $('.right-haupt').css('min-height', ($(document).height()+"px"));
      $('.right-haupt').data("status", "open");     
    });

  #start

  .wrapper-haupt

    .left-haupt
      = #@location
      = #gmaps4rails(@location)
      = gmaps("markers" => { "data" => @location, "options" => { "do_clustering"=>true, "randomize"=>true, "max_random_distance"=>10, "custom_infowindow_class" => "yellow" } })

    .right-haupt
      .uebergang-seitenleiste
        .seitenleiste
          = content_for?(:map_content) ? yield(:map_content) : yield

= render :template => 'layouts/application'